[Unit]
Description=Nu HTML validator

[Service]
DynamicUser=yes
ExecStart=/opt/misc/runnu.sh

[Install]
WantedBy=local-fs.target

# 2024/03/08 00:06 Thu
